body {
    width: 1200px;
    background-color: #434a42;
    margin: auto;
    color: #e1ca96;
    margin: 20px;
}

header {
    width: 1200px;
    text-align: center;
    font-size: 30px;
    background-color: #626c66;
    margin: auto;
    color: #e1ca96;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
}

h1 {
    font-size: 24px;
}

nav {
    width: 1200px;
    background-color: #565543;
    margin: auto;
    padding-bottom: 15px;
}

ul {
    /* width: 1200px; */
    list-style-type: none;
    font-size: 24px;
    background-color: #212420;
     margin: auto;
    /* color:#9d3871; */
    display: block;
    /* padding-left: 12px; */
}

ul li {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    color: #212420
}

main {
    text-align: center;
}

h2 {
    width: 1200px;
    font-size: 20px;
    margin: auto;
    color: #626c66;
    background-color: #e1ca96;
    text-align: center;
}

h3 {
    font-size: 15px;
}

a {
    font-size: 18px;
    margin: auto;
    color: #e1ca96;
    text-align: center;
}

p {
    font-size: 18px;
    margin: auto;
    color: #918b76;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer section img {
    width: 200px;
    height: 200px;
}



/* class="backgroundColor"
main diff between class and id - a css id should only be used once
css class: 
.backgroundColor {
    background-color: firebrick;
}

#fontColor {
    color: chartreuse;


.fontColor {
    color:#e1ca96
}

}*/